body
{
    
    color: royalblue;
    text-align: left;
    font-family: 'Trebuchet MS';
}

#post
{
    border: 5px solid black;
    width: auto;
    margin: auto; 
    text-shadow: black 0.5px 0.5px;
}

#container
{
    border: 1px solid blue;
    width: auto;
    margin: 1px;
}